@font-face {
    font-family: arabic;
    src: url(/fonts/arabic/IBMPlexSansArabic-Regular.ttf);
}
@font-face {
    font-family: rubichka;
    src: url(/fonts/Rubik/Rubik-VariableFont_wght.ttf);
}
@font-face {
    font-family: messi;
    src: url(/fonts/messi/ElMessiri-VariableFont_wght.ttf);
}

@font-face {
    font-family: noto;
    src: url(../fonts/Noto_Naskh_Arabic/NotoNaskhArabic-VariableFont_wght.ttf);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: messi;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
    
}

img {
    max-width: 100%;
    height: auto;
}

.display-none {
    /* position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; */
    display: none;
}

.container {
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.bismi-div {
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.bismi {
    color: #000;
    text-align: center;
    font-family: arabic;
    padding-bottom: 100px;
    transition: all 0.3s ease-in-out;
}

.hello {
    padding-top: 20px;
    padding-bottom: 20px;
}

.head-top {
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.logo-a img {
    user-select: none;
    display: block;
    border-radius: 50%;
    transition: all 0.7s ease-in-out;
    box-shadow: 0px 0px 10px 6px rgba(170,87,255,1),0px 0px 5px 6px rgba(4,0,255,1);
}

.logo-a:hover.logo-a img {
    border-radius: 40px;
}

.head-ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
}

.head-li {
    margin-right: 20px;
}

.head-li:last-child {
    margin-right: 0;
}

.head-li-a {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.head-li-a:hover {
    opacity: 50%;
    color: blue;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 3px solid #fff;
}

.dua-ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-between;
}

.dua {
    width: 1000px;
    padding: 20px;
    cursor: pointer;
    position: relative;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 30px;
    font-family: rubichka;
    background: rgb(170,87,255);
    background: linear-gradient(220deg, rgba(170,87,255,1) 16%, rgba(4,0,255,1) 100%);
    box-shadow: 0px 0px 10px 6px rgba(170,87,255,1),0px 0px 5px 6px rgba(4,0,255,1);
}

.dua img {
    user-select: none;
}

.copy-dua {
    top: 10px;
    right: 10px;
    width: 110px;
    height: 40px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    border-radius: 15px;
    border: 2px solid #fff;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.copy-dua:hover {
    color: rgba(170,87,255,1);
    border-radius: 0;
    background-color: #fff;
}

.dua-name {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.dua-text {
    font-size: 21px;
    font-weight: 500;
    color: #fff;
    font-family: noto;
    padding-bottom: 20px;
}

.numbers-zikr {
    padding: 10px;
    color: #fff;
    font-size: 19px;
    border-radius: 15px;
    border: 2px solid #fff;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.numbers-zikr:hover {
    color: blue;
    border-radius: 0;
    background-color: #fff;
}

.foot-top {
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 20px;
    justify-content: center;
}

.foot-ul {
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 20px;
    align-items: center;
    list-style-type: none;
    justify-content: center;
}

.foot-ul:last-child {
    margin-right: 0;
}

.foot-li {
    margin-right: 20px;
}

.foot-li:last-child {
    margin-right: 0;
}

.foot-li-a {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.foot-li-a:hover {
    opacity: 50%;
}

.all-rights {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
